
<%= form_for(@bmi, url: bmi_path(@bmi), method: :put ) do |f| %>

<div class="container">
  <div>
    <%= f.number_field :mass, placeholder:"Mass", class: "form-control", :step => 0.01 %>
  </div>

  <div>
    <%= f.number_field :height, placeholder:"Height", class: "form-control",  :step => 0.01  %>
  </div>
  <div>
    <%= f.submit "Get your category", class: "btn btn-primary btn-lg btn-block", id:"get"     %>
  </div>

</div>
<%end%>
