<%  if user_signed_in?  %>

<h1>Hi! <%= current_user.email%>, now you can get your body mass index </h1>
<%= link_to "Check this link", new_bmi_path %>
<%else%>
<h1>You need to sign up for body mass index</h1>
<%end%>


